body { 
	background-color: #ffffff;
	font-family: Arial;
	font-size: 9pt;

}

h2 {
	font-family: Arial;
	font-size: 10pt;
	}

input.cc { width: 400px; }
input:focus.cc2 { width: 400px; border: 2px solid #73a6ff; }
select.cc { width: 70pt; border: 1px solid gray; }
select.cc2 { width: 40pt; border: 1px solid gray; text-align: center; }
select.cc3 { text-align: center; }
select.settings { 
	text-align: center; 
	font-size: x-small; 
	width: 100pt;
}
input.settings {
	text-align: center;
	font-size: x-small;
	width: 100pt;
}

input.log { width: 250px; border: 1px solid gray;}
input:focus.log { width: 250px; border: 1px solid #73a6ff;}
input.ccc { width: 400px; border: 1px solid gray; }
textarea.ccc { width: 400px; border: 1px solid gray; }

div.contain {
  #border: 1px dashed #333;
}

div.spacer_div {
  clear: both;
}

tr.header {
	background-image: url(img/bar_new.png); 
	background-repeat:repeat-x; 
	color: #fff;
	font-weight: bold;
}

tr.foot {
	background-image: url(img/bar_new.png);
	background-repeat:repeat-x;
	color: #fff;
}

td.rowspace {

	padding-left: 5px;
	padding-right: 5px;


}

input.red {
	background-color: #e0e9f7;
	font-size: 12px; 
	color: #000000;
	border:1px solid;
	border-color: #ffffff;
	}

input.fav {
	background-color: transparent; 
	font-size: 8pt; 
	font-weight: bold;
	color: #ffffff;
	border:0px solid;
	border-color: #ffffff;
	vertical-align: bottom;
}

input.fav_main {
	background-color: transparent; 
	font-size: 8pt; 
	font-weight: bold;
	color: #65a5e4;
	border:0px solid;
	border-color: #ffffff;
	vertical-align: bottom;
}


input.submit {

	background-color: transparent; 
	font-size: 8pt; 
	font-weight: bold;
	color: #ffffff;
	border:0px solid;
	border-color: #ffffff;
	vertical-align: bottom;
	text-decoration: underline;
}

div.message {
	background-color: #fad163; 
	font-weight: bold;
	text-align: center;
	font-size: x-small;
	width: 550px;
}

div.system {
	background-color: #ffffff;
	font-weight: bold;
	text-align: center;
	font-size: x-small;
	width: 350px;
	border-width: 1px;
	border-color: #0000ff;
	border-style: solid;
}

p.message {
	background-color: #fad163; 
	font-weight: bold;
	text-align: center;
	font-size: x-small;
	width: 400px;
}




td.message {
	background-color: #fad163; 
	color: #fff; 
	font-size: x-small; 
	text-align: center;
}

table.ff {
	font-size: 9pt; 
	font-family: Arial; 
	}

span.hlt {
	background-color: yellow; 
	}

td.time_chat {
	background-color: #669dd6;
	color: #fff;
	text-align: center; 
	}

tr.main_s { 
	color: black; 
	font-weight: bold; 
	font-size: 12px; 
	text-decoration: underline;
	}

tr.maint { 
	font-weight: bold;
	background-color: #c3d9ff; 
	color: #000000; 
	}


tr.main_row_a { background-color: #e8eef7; }
tr.main_row_b { background-color: #e0e9f7; }
tr.main_row_error { background-color: #de5b5b; }
tr.main_row_headline { background-color: #9fd8ee; }
tr.main_row_message { background-color: #ade8df; }
tr.main_row_group_to { background-color: #fdffbb; }
tr.main_row_group_from { background-color: #fdffd4; }
tr.spacer { background-color: #afccf7; }
tr.spacerb { background-color: #ffffcc; }
td.main_row_special { font-size: x-small; font-style: italic; }

tr.splitl {

	background-color: #f1f7ff;
	font-size: 10px;
	color: grey;
	text-align: center;

}



a.menue {
	color: #0707cd;
}

a {
	color: #000000;
	text-decoration: none;
}

a.mmenu {
	color: white;
	text-decoration: none;
}

a:hover.mmenu {
	color: white;
}

a.foot {
	color: #65a5e4;
	text-decoration: none;
}

a.nav_np {

	color: #fff;
	text-decoration: none;
	font-weight: bold;

}

a:hover.nav_np {

	color: #FFCC00;
	font-weight: bold;

}

a.menu_chat {
	color: #fff;
	text-decoration: none;

}

a:hover {

	color: #136ef7;
	text-decoration: none;

}

td.cnter {

	font-size: 7pt;

}
a.delq {
	color: red;
}

a.export {

	color: #4145ff;

}

a.clickl {
	color: #4145ff;
	text-decoration: underline;
	}


input.btn{
   color:#000000;
   font-family:'trebuchet ms',helvetica,sans-serif;
   font-size:84%;
   font-weight:bold;
   background-color:#e8eef7 ;
   border:1px solid;
   border-top-color:#696;
   border-left-color:#696;
   border-right-color:#363;
   border-bottom-color:#363;
}


input.btn_set{
   color:#fff;
   font-size: x-small;
   background-color:#6daae7;
   border:0px solid;
   border-top-color:#696;
   border-left-color:#696;
   border-right-color:#363;
   border-bottom-color:#363;
}

input.c_map_class{
   color: grey;
   font-size: x-small;
   text-align: center;
   background-color:#fff;
   border:1px solid;
}

input:focus.c_map_class {
   color: grey;
   font-size: x-small;
   text-align: center;
   background-color:#fff;
   border:1px solid #73a6ff;

}

#tooltip.fancy {
	background-color: #ffffcc;
	border: 1px solid #afccf7;
	color: #333333;
	padding: 4px;
	-moz-border-radius-bottomleft: 7px;
	-moz-border-radius-bottomright: 7px;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 7px;
	opacity: .85;
	max-width: 60em;

}


.calbck {
	background-image: url(img/cal_bck.png);
	background-repeat: repeat-x;
	background-color: transparent;	
}

.calbck_con {
	background-image: url(img/cal_bck2.png);
	background-repeat: repeat-x;
	background-color: transparent;	
}

.calhead {
	font-family: Tahoma;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
}
.calweek {
	font-family: Tahoma;
	font-size: 10px;
	color: #FFFFFF;
}
.caldays {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}
.caldaysnow {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}
.caldaysfeat {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #b9b9c1;
}
.caldayssel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	background-color: #346DA5;
}
.caldays2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFCC00;
}
a.caldays2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFCC00;
}

a.caldays3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ffffff;
}

a.caldays4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #bebebe;
}

a:hover.caldays3 {

	color:#FFCC00;

}

.calbckleft {
	background-image: url(img/cal_bck_left2.png);
	background-repeat: repeat-y;
	background-color: transparent;
}
.calbckright {
	background-image: url(img/cal_bck_right2.png);
	background-repeat: repeat-y;
	background-color: transparent;
}
