% Copy one of this examples into the modules section of your
% ejabberd.cfg configuration file and edit it to fit your needs


  % log chat messages for all vhosts in current directory in text format
  {mod_log_chat,  []},


  % log all vhosts chats in /var/log/ejabberd/chat directory in  format
  {mod_log_chat,  [{path, "/var/log/ejabberd/chat"}, {format, html}]},


  % log only vh1.myjabberserver.net vhost in /var/log/ejabberd/vh1.myjabberserver.net directory
  % in HTML format
  {mod_log_chat,  [{host_config,
		    [{"vh1.myjabberserver.net", [{path, "/var/log/ejabberd/vh1.myjabberserver.net"},
						 {format, html}]}]}]},


  % log only vh1.myjabberserver.net vhost in /var/log/ejabberd/vh1.myjabberserver.net directory
  % in HTML format and vh2.myjabberserver.net vhost in /var/log/ejabberd/vh2.myjabberserver.net directory
  % in text format
  {mod_log_chat,  [{host_config,
		    [{"vh1.myjabberserver.net", [{path, "/var/log/ejabberd/vh1.myjabberserver.net"},
						 {format, html}]},
		     {"vh2.myjabberserver.net", [{path, "/var/log/ejabberd/vh2.myjabberserver.net"},
						 {format, text}]}]}
		  ]},
