
% There's a bug in ecaptcha 0.2.0 that breaks compilation with
% Erlang/OTP 26, and 0.2.0 is the latest version published in hex right now.
% Consequently, let's use the latest ecaptcha from git repository.

{deps, [
        {ecaptcha, ".*", {git, "https://github.com/seriyps/ecaptcha", {branch, "master"}}}
       ]}.
